<section id="synonyms">
  <h3>{{activeWord}}</h3>

  <article ng-repeat="(partOfSpeech, set) in syn_json[activeWord]">
    <div class="col-md-3 col-sm-4 well">
      <h5>{{partOfSpeech}}</h5>
      <ul class="syns">
        <li ng-click="embedWord(activeWord)" class="disp-inb label label-default">
          &nbsp{{activeWord}}&nbsp
        </li>
        <li ng-repeat="syn in set.syn" ng-click="embedWord(syn)" class="disp-inb label label-default">
          &nbsp{{syn}}&nbsp
        </li>
      </ul>
    </div>
  </article>
</section>
