.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

.navbar .navbar-collapse { position: relative; overflow: hidden !important; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse {
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(#fff, #eee 50%, #e4e4e4);
  background-image: -o-linear-gradient(#fff, #eee 50%, #e4e4e4);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(50%, #eee), to(#e4e4e4));
  background-image: linear-gradient(#fff, #eee 50%, #e4e4e4);
}

.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
#sign-in { color: white; }
#sign-in:hover { color: #bbb; }
.btn.btn-outline { background-color: transparent; }

.navbar-nav.navbar-right .btn:not(.collapsed) {
  background-color: transparent;
  border-color: black;
  color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
  height: auto !important;
  transition: transform 0.3s;
  transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
  transform: translate(0px,0px);
}

@media screen and (max-width: 767px) {
  .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }

  .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
  .navbar .nav-collapse .navbar-form { margin: 0; }
  .nav-collapse>li { float: none; }

  .navbar.navbar-default .nav-collapse,
  .navbar.navbar-inverse .nav-collapse {
    transform: translate(-100%,0px);
  }
  .navbar.navbar-default .nav-collapse.in,
  .navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
  }

  .navbar.navbar-default .nav-collapse.slide-down,
  .navbar.navbar-inverse .nav-collapse.slide-down {
    transform: translate(0px,-100%);
  }
  .navbar.navbar-default .nav-collapse.in.slide-down,
  .navbar.navbar-inverse .nav-collapse.in.slide-down {
    transform: translate(0px,0px);
  }
}

.fancy {
  font-family: "roboto slab";
  line-height: 200%;
}

.mar-0 { margin: 0; }
.mar-t-sm { margin-top: 20px; }
.disp-inb { display: inline-block; }
.hide { display: none; }

#synonyms h4,
#synonyms h5 {
  font-weight: 600;
}

#jumbo {
  background-image: url('/imgs/bg1.jpg');
  background-size: 100%;
  padding: 175px;
  margin-top: -20px;
}

@media screen and (max-width: 700px) {
  #jumbo {
    background-size: auto 100%;
    background-position: center;
    padding-left: 30px;
    padding-right: 30px;
  }
}

#jumbo h1 {
  font-family: "roboto slab";
  color: white;
  font-weight: 700;
}

#jumbo p {
  color: white;
  opacity: 0.5;
  font-family: "roboto slab";
}

.rw-words {
    display: inline;
    text-indent: 10px;
}
.rw-words-1 span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    -webkit-animation: rotateWord 18s linear infinite 0s;
    -ms-animation: rotateWord 18s linear infinite 0s;
    animation: rotateWord 18s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
}
.rw-words-1 span:nth-child(3) {
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.rw-words-1 span:nth-child(4) {
    -webkit-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
}
.rw-words-1 span:nth-child(5) {
    -webkit-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.rw-words-1 span:nth-child(6) {
    -webkit-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s;
}
@-webkit-keyframes rotateWord {
    0% {
    opacity: 0;
}
2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
}
5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
}
17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
}
20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
}
80% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}@-ms-keyframes rotateWord {
    0% {
    opacity: 0;
}
2% {
    opacity: 0;
    -ms-transform: translateY(-30px);
}
5% {
    opacity: 1;
    -ms-transform: translateY(0px);
}
17% {
    opacity: 1;
    -ms-transform: translateY(0px);
}
20% {
    opacity: 0;
    -ms-transform: translateY(30px);
}
80% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}@keyframes rotateWord {
    0% {
    opacity: 0;
}
2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
}
5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
}
80% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
