<!DOCTYPE html>
<html lang="en" ng-app="wordasaurus">
<head>

  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/readable.css">
  <link rel="stylesheet" href="/css/application.css">

  <title>Wordasaurus</title>
</head>


<body ng-controller="HomeController as home"><div class="wrapper">

  <%= yield %>

  <footer>
    <div class="container">
      <div class="bhl clearfix">
        <p>Powered by:</p>
        <img src="imgs/bhl.png" style="width: 100px;">
      </div>
    </div>
  </footer>

  <script src="/js/app.min.js"></script>
</div></body>
</html>
